<form action="/users/registration" method="post">
  <input name="username" type="text" placeholder="Choose Your Username!">
  <input name="password" type="password" placeholder="Choose a Password!">
  <input name="email" type="text" placeholder="What is your Email?">
  <input type="submit" value="Register!">
</form>
